@font-face {
    font-family: 'hfm_main'; /*a name to be used later*/
    src: url('images/HFM_Main.ttf'); /*URL to font*/
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: #213529;
}
.aligncenter {
    text-align: center;
}
.fit-image{
    width: 100%;
    object-fit: cover;
}
.channel-boxes {
    height: 200px;
    width: 600px;
    margin: auto;
    display: table;
    background: linear-gradient(to right, #000, #1e1e1e);
	border-radius: 15px;
}
.banner-box {
    height: 175px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: table;
}
.container {
    display: flex;
    justify-content: center;
  }
}
.artist-text {
line-height: 1;
text-transform: lowercase;
font-family: hfm_main;
font-size: 190%;
color: rgb(255 255 255);
text-align: center;
}
.title-text {
line-height: 1;
text-transform: lowercase;
font-family: hfm_main;
font-size: 190%;
color: rgb(255 255 255);
text-align: center;
font-style: normal;
}
.listeners-text {
line-height: 1;
font-family: hfm_main;
font-size: 100%;
color: rgb(255 255 255);
text-align: center;
}
.listeners-text2 {
line-height: 1;
font-family: hfm_main;
font-size: 130%;
color: rgb(255 255 255);
text-align: center;
}
.text-test {
font-family: hfm_main;
font-size: 230%;
text-align: center;
color: rgb(255 255 255);
padding-bottom: 5px;
